body { margin: -8px; padding: 0; }
ul { padding: 0px; }
ul li { list-style: none; }


textarea { width:100%; overflow: visible; }

img {
	width: 100%;
    -webkit-transition-property: width;
    -webkit-transition-duration: .3s; 
}

a:link,a:visited,a:active,a:hover {
	text-decoration:none;
}


.main_ul {
	width: 100%;
	
}

.list-float-right {
	float: right;
	margin-right: 15px;
	font-size: 80%;
}

/* Header */
.header {
	position:relative;
	border-left-width:0;
	border-right-width:0;
	zoom:1;
	height: 60px;
}

/* header bar bottom line */
.main {
	background:#fff;
	border-color:#00A551!important;
}

.menu {
	background:#fff;
	border-color:#00ADEF!important;
}

.notice {
	background:#fff;
	border-color:#005599!important;
}

.fbb {
	background:#fff;
	border-color:#00A551!important;
}

.qna {
	background:#fff;
	border-color:#8F00FF!important;
}

.schedule {
	background:#fff;
	border-color:#FFC200!important;
}

.album {
	background:#fff;
	border-color:#FF9191!important;
}

.humor {
	background:#fff;
	border-color:#d2322d!important;
}


.header_main { 
	top:15px;
	height: 14px; 
	width: 20px; 
}

.header_main_left_ico {
	height: 14px;
	width: 20px;
}]

.ui-btn-text {
	position: relative;
	z-index: 1;
	width: 100%;
}

.menu-bar {
	background-color: #fff;
	display:block;
	height: 3px;
	margin: 0 0 2px;
	width: 20px;
}


/* header bar title text*/

.logo_text_big {
	font-family:Georgia,dotum,'µ¸¿ò',"Time New Roman",serif;
	color: #00A551;
	font-size: 160%;
}

.logo_text_small {
	font-family:Georgia,dotum,'µ¸¿ò',"Time New Roman",serif;
	color: #00A551;
	font-size: 50%;
}

.notice_title_text {
	font-family: Georgia,dotum,'µ¸¿ò',"Time New Roman",serif;
	color:#005599;
	font-size:160%;
}

.fbb_title_text {
	font-family: Georgia,dotum,'µ¸¿ò',"Time New Roman",serif;
	color:#00A551;
	font-size:160%;
}

.qna_title_text {
	font-family: Georgia,dotum,'µ¸¿ò',"Time New Roman",serif;
	color:#8F00FF;
	font-size:160%;
}

.schedule_title_text {
	font-family: Georgia,dotum,'µ¸¿ò',"Time New Roman",serif;
	color:#FFA300;
	font-size:160%;
}

.album_title_text {
	font-family: Georgia,dotum,'µ¸¿ò',"Time New Roman",serif;
	color:#FF9191;
	font-size:160%;
}


.menu_text {
	font-family:Georgia,dotum,'µ¸¿ò',"Time New Roman",serif;
	color: #3388cc;
	font-size: 160%;
}

.notice_text {
	font-family: Georgia,dotum,'µ¸¿ò',"Time New Roman",serif;
	color:#005599;
	font-size:90%;
	
}

.fbb_text {
	font-family: Georgia,dotum,'µ¸¿ò',"Time New Roman",serif;
	color:#00A551;
	font-size:90%;
}

.qna_text {
	font-family: Georgia,dotum,'µ¸¿ò',"Time New Roman",serif;
	color:#8F00FF;
	font-size:90%;
	
}

.schedule_text {
	font-family: Georgia,dotum,'µ¸¿ò',"Time New Roman",serif;
	color:#FFA300;
	font-size:90%;
	
}

.album_text {
	font-family: Georgia,dotum,'µ¸¿ò',"Time New Roman",serif;
	color:#FF9191;
	font-size:90%;
}

.humor_text {
	font-family: Georgia,dotum,'µ¸¿ò',"Time New Roman",serif;
	color:#d2322d;
	font-size:160%;
}

.mainImage {
	display:block;
	margin:0 auto;
	padding-bottom:10px;
	text-align: center;
	
}

#adminLogin {
	display:none;
	margin:0 auto;
	padding-bottom:10px;
	text-align: center;
	width: 50%;
	height: 110px;
}

.mainImage .main_img {
	width: 300px;
	height: 200px;
}

.content_text {
	color:#00A551 ;
}



.footer {
	border-top:1px solid #3D829C;
	border-bottom:1px solid #3D829C;
	
	background:#fff;
	background-color:#fff;
	padding-top : 15px;
	text-align: center;
}

.footer .ft {
	font-size: 70%;
	color:#00ADEF;
	margin-top:15px;
	padding-top:15px;
}


.footer_main {
	border-top:1px solid #2B596B;
	border-bottom:1px solid #2B596B;
	
	background:#fff;
	background-color:#fff;
	padding-top : 15px;
	text-align: center;
}

.footer_main .main_ft {
	font-size: 70%;
	color:#2B596B;
	margin-top:15px;
	padding-top:15px;
}

.footer_button {
	width: 90%;
}

.header_leftmenu_back_ico {
	top:15px;
	width: 46px;
	height: 26px;
}

/* border style */


.notice_title { 
	bacgkround:#fff;
	height:40px;
	line-height: 40px;
	text-indent: 10px;
	display: block;
	border:1px #005599 solid;
	-webkit-border-radius:8px;
	-webkit-box-shadow:1px 1px 2px #666;
	margin-bottom:8px;
	
}

.fbb_title {
	bacgkround:#fff;
	height:40px;
	line-height: 40px;
	text-indent: 10px;
	display: block;
	border:1px #00A551 solid;
	-webkit-border-radius:8px;
	-webkit-box-shadow:1px 1px 2px #666;
	margin-bottom:8px;
}

.qna_title {
	bacgkround:#fff;
	height:40px;
	line-height: 40px;
	text-indent: 10px;
	display: block;
	border:1px #8F00FF solid;
	-webkit-border-radius:8px;
	-webkit-box-shadow:1px 1px 2px #666;
	margin-bottom:8px;
}

.humor_title {
	bacgkround:#fff;
	height:40px;
	line-height: 40px;
	text-indent: 10px;
	display: block;
	border:1px #d2322d solid;
	-webkit-border-radius:8px;
	-webkit-box-shadow:1px 1px 2px #666;
	margin-bottom:8px;
}



.notice_title .notice_text {
	color: #005599;
}

.fb_title .fb_text {
	color: #00A551;
}

.br_header .br_subject {
	font-weight:bold;
	font-size: 120%;
	float: left;
	width:100%;
	
}

.br_header .br_date {
	font-size: 90%;
	float: right;
	font-weight:100;
	width:100%;
	text-align:right;
}

.br_content { margin:10px; font-size: 100%; }
.br_write { float: right; }


.link_notice { color:#005599;  }
.link_schedule { color: #FFA300; }
.link_album { color: #FF9191; }

.left-li { display: block; }


.footer_button {
	
}

#al_preview_all img{
	width: 100px;
	height: 100px;
}

.button_ico {
	padding:3px;
	width:36px;
	top:10px;
}

.ico_img {
	width: 38px;
	height: 32px;
}

.button_width{
	width: 95%;
	padding-left: 0px;
	padding-right: 0px;
}
